.navbar-default
{
	background-color: #05dfca;
	display: inline-block;
	text-align: center;
}

#dashes
{
	color: #d2cfca;
}

#secretWord
{
	color: white;
}

.container
{

}

.panel-default
{
	text-align: center;
}

.page-header
{
	text-align: center;
}

#subName
{
	font-size: 20px;
	font-family: cursive;
	margin-top: 10px;
	color: #ff2d57;
}

#subName1
{
	font-family: cursive;
	margin-top: 30px;
	color: #337ab7;
}

.jumbotron h1
{
	font-size: 30px;
	text-align: center;
}


#guessedLetters
{
	
}



